<div ng-controller="HomeCtrl">
    <div class="container-fluid">
        <!-- ******************* START Navigation bar *********** -->
       <!-- <div class="row top-bar">
            <ul class="list-inline">
                <li class="top-link">
                    <a class="home-link" href="#home">MAJA</a>
                </li>
                <li class="top-link">
                    <a class="home-link" href="#work">MY WORK</a>
                </li>
                <li class="top-link">
                    <a class="home-link pictures_menu"  href="#gallery">
                        PICTURES
                    </a>
                </li>
            </ul>
        </div>-->

   <!--  <div class="row title-toolbar">
            <div class="front-text">
                <h1>  Maja Lokar  </h1>
                <p> Software developer, mountain hiker and programming enthusiast </p>
            </div>
    </div>      -->   

    <div class="front-div front-image row">

           
    </div>
    <div class="front-panels">
            <div class="front-panel-1"> 
                    <a class="home-link-panel" href="#work">My skills</a>    
            </div>

            <div class="front-panel-2"> 
                    <a class="home-link-panel" href="#work">Links</a>    
            </div>
            
            <div class="front-panel-3"> 
                   <a class="home-link-panel pictures_menu"  href="#gallery">
                        Pictures
                    </a>   
            </div>
         </div> 
        <!-- <footer>
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 main-color-2">
                  <p class="text-center footer-text">
                    <small>Copyright 2016-2017 © Maja Lokar</small>
                  </p>
               </div>
            </div>
        </footer> -->
</div>




