<div ng-controller="WorkCtrl">
        <!-- *************************** START about div ********************************-->
        <div class='links-div row'>
            <div class='about-intro'>
                <p class="work-subtitle">My main skills are:  </p>

                <ul class="skill-li">
                    <li>
                        <img src="img/html5-css-javascript-logo.png" class="image-logo">
                        <a href>HTML5, CSS</a> and <a href="">Javascript</a>
                        <br>
                        <p>I also wrote an article about JavaScript for <a href>Monitor</a> (Slovenian computer science magazine)
                        <a href="http://www.monitor.si/clanek/v-desetihdneh/176562/">"V desetih dneh", Monitor, Oktober
                         2016</a></p>

                    </li>
                    <li>
                        <img src="img/es6-logo.png" class="image-logo">
                    </li>
                    <li>
                        <img src="img/nodejs.png" class="image-logo">
                    </li>
                    <li>
                        <img src="img/angular-logo.png" class="image-logo">
                    </li>
                    <li>
                        <img src="img/bootstrap.png" class="image-logo">
                    </li>
                    <li>
                        <img src="img/jquery-logo.png" class="image-logo">
                    </li>
                    <li>
                        <img src="img/npm-logo.png" class="image-logo">
                    </li>
               </ul>

               <p class="work-subtitle">For many years I have been working with following Java technologies, including Java SE and Java EE. 
                </p>
                <p>
                    I am also certified as Oracle Certified Professional, Java SE 7 Programmer (1Z0-804)
                </p>
                <ul class="skill-li">     
                    <li>
                        <img src="img/ibm-logo.png" class="image-logo"> <p>
                    </li>
                    <li>
                        <img src="img/java-logo.png" class="image-logo">
                    </li>
                </ul>
        </div>
    </div>
</div>